<!doctype html>
{% load static %}

<html class="no-js"  lang="en">

	{% include 'base/_header.html' %}

	<body>
		
		{% block navbar %}
		{% include 'base/_navbar.html' %}
		{% endblock navbar %}
		

        {% block body %}
        
        {% endblock body %}

		
		{% if request.path == "/cart" %}
			
		{% else %}
		{% include 'base/_footer.html' %}
		{% endif %}
			
		


      



		<script src="{% static 'assets/js/jquery.js' %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->

		<!--modernizr.min.js-->
		<script  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


		<!--bootstrap.min.js-->
		<script  src="{% static 'assets/js/bootstrap.min.js' %}"></script>

		<!-- bootsnav js -->
		<script src="{% static 'assets/js/bootsnav.js' %}"></script>

		<!-- jquery.filterizr.min.js -->
		<script src="{% static 'assets/js/jquery.filterizr.min.js' %}"></script>

		<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!--jquery-ui.min.js-->
        <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

        <!-- counter js -->
		<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/waypoints.min.js' %}"></script>

		<!--owl.carousel.js-->
        <script  src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

        <!-- jquery.sticky.js -->
		<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

        <!--datepicker.js-->
        <script  src="{% static 'assets/js/datepicker.js' %}"></script>

		<!--Custom JS-->
		<script src="{% static 'assets/js/custom.js' %}"></script>


		


		<script>
	

		</script>

	</body>

</html>